@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply overflow-x-hidden;
}

.child {
  width: 100%;
  height: 100%;
  background-color: black; /* fallback color */
  transition: all .5s;
  background-position: center;
  background-size: cover;
}

.parent:hover .child,
.parent:focus .child {
  transform: scale(1.2);
}
